@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@theme {
  --color-color-fondo: #efebe2;
  --color-color-primario: #4f5d44;
  --color-color-secundario: #adb79f;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #efebe2; /* Color de fondo suave */
  color: #333333; /* Color de texto principal */
  margin: 0;
  padding: 0;
}

/* Encabezados */
h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1.5rem 0 1rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  margin: 1.25rem 0 0.75rem;
  background: #a9b39b;
  border-radius: 4px;
  padding: 4px 20px;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
}

/* Párrafos */
p {
  font-weight: 500;
  font-size: 1rem;
}

/* Listas */
ul,
ol {
  margin: 1rem 0 1rem 1.5rem;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

/* Enlaces */
a {
  color: #6b5b95; /* tono pastel violeta */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 600;
}

button {
  background: #bb8585;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.25rem;
}

figure >img {
  border-radius: 100px 100px 0px 0px;
  border: 4px #4f5d44;
}
